* {

  box-sizing: border-box;

}

body {

  margin: 0;
  font-family: Muli, sans-serif;
  font-size: 16px;
  background-color: rgb(10, 46, 54);

}

/* NAVBAR */

nav {

  background-color: rgb(249, 137, 72);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.logo {

  color: rgb(209, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px rgb(247, 240, 245);
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 900;

}

.logo:hover {

  color: rgb(124,191,23);
  border: 3px solid rgb(124,191,23);
  background-color: rgb(94,43,11);
  outline: 3px solid rgb(94,43,11);

}

.logo:active {

  color: rgb(94,43,11);
  background-color: inherit;
  border: 3px solid rgb(94,43,11);
  outline: none;

}

form {

  padding: 8px 0;

}

input[type="text"] {

  padding: 5px 10px;
  font-size: 1rem;
  font-family: Muli, sans-serif;
  border: 2px solid rgb(249, 137, 72);
  border-radius: 5px;
  background-color: rgb(247, 240, 245);

}

input[type="text"]:focus {

  border: 2px solid rgb(248, 102, 18);
  outline: none;

}

nav input[type="submit"] {

  padding: 5px 10px;
  font-size: 1rem;
  font-family: Muli, sans-serif;
  font-weight: 900;
  color: rgb(46, 40, 42);
  background-color: rgb(247, 240, 245);
  border: 2px solid rgb(249, 137, 72);
  border-radius: 5px;
  cursor: pointer;

}

nav input[type="submit"]:focus {

  border: 2px solid rgb(248, 102, 18);

}

/* LISTA RESULTADOS */

main h2 {

  width: 60%;
  margin: auto;
  padding: 20px 40px;
  font-size: 2rem;
  font-family: Muli, sans-serif;

}

.container-resultados {

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;

}

/* RESULTADO */

.resultado-container {

  background-color: rgb(13, 59, 69);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;

}

.informacion-container {

  display: flex;
  flex-direction: row;
  gap: 10px;

}

.informacion-container p {

  margin: 0 0 5px 0;
  font-size: 1.12rem;
  color: rgb(247, 240, 245);;

}

.type {

  text-transform: capitalize;

}

.btn-ver-mas {

  align-self: self-end;
  padding: 5px 10px;
  font-size: 1.25rem;
  font-family: Muli, sans-serif;
  font-weight: 900;
  color: rgb(46, 40, 42);
  background-color: rgb(247, 240, 245);
  border: 2.5px solid rgb(13, 59, 69);
  border-radius: 5px;

}

.btn-ver-mas:hover {

  color: rgb(209, 0, 0);
  border: 2px solid rgb(209, 0, 0);
  cursor: pointer;

}

.btn-ver-mas:active {

  color: rgb(255, 2, 2);
  border: 2px solid rgb(255, 0, 0);
  cursor: pointer;

}

.resultado-container img {

  border-radius: 5px;

}


